body {
  color: #0a0a0a;
  background-color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
}

.menubar {
  color: #ffffff;
  background-color: #796d17;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  width: 100%;
}

a {
    color: inherit;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.footerbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footersection {
  flex: 1;
}

.skeletons-image {
  width: 500px;
}